html{
  height: 100%;
  overflow: hidden;
}

body{
  color: black;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#home{
  box-sizing: border-box;
  min-height: 100vh;
  /* padding: 30vw 0 5vw; */
  position: relative;
  transform-style: inherit;
  width: 100vw;
  /* margin-top: -100px; */
}

#home, #home:before {
  background: 70% 50% / cover;
}

#home::before{
  bottom: 10;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  background-image: url('./images/sax.jpg');
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

#home * {
  font-weight: normal;
  letter-spacing: 0.2em;
  /* text-align: center; */
  margin: 0;
  padding: 1em 0;
}

#header{
  text-align: center;
}

#blurb{
  text-align: center;
  background-color: rgb(206, 184, 138);
  overflow-wrap: normal;
  margin-top: 50vh;
}

#song-of-week{
  text-align: center;
  background-color: rgb(175, 61, 32);
  overflow-wrap: normal;
}

#contact{
  text-align: center;
  background-color: rgb(206, 184, 138);
  overflow-wrap: normal;
}

#nav{
  text-align: center;
  padding-top: 0;
}